@model StudentStudentUpdateVM

@{
    ViewData["Title"] = @SharedLocalizer["Update"];
}


<div class="">
    <div class="content container my-5 d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Content Başlangıcı-->
        <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <div class="card-header pt-7" id="kt_chat_contacts_header">
                <!--begin::Card title-->
                <div class="card-title">
                    <h2>@SharedLocalizer["Update"]</h2>
                </div>
                <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
                <!--begin::Form-->
                <form class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-action="Update" asp-controller="Student" asp-area="Student" enctype="multipart/form-data">
                    <!--begin::Input group-->
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="OtherEmails" />
                    <div class="mb-7">
                        <!--begin::Label-->
                        <label class="fs-6 fw-bold mb-3">
                            <span>@SharedLocalizer["Choose_File"]</span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Dosya tipleri: png, jpg, jpeg."
                               aria-label="Dosya tipleri: png, jpg, jpeg."></i>
                        </label>
                        <!--end::Label-->
                        <!--begin::Image input wrapper-->
                        <div class="mt-1">
                            <!--begin::Image input-->
                            <div class="image-input image-input-outline" data-kt-image-input="true"
                                 style="background-image: url('data:image/jpeg;base64,@Model.Image')">
                                <!--begin::Preview existing avatar-->
                                <div class="image-input-wrapper w-100px h-100px"
                                     style="background-image: url('data:image/jpeg;base64,@Model.Image')"> </div>
                                <!--end::Preview existing avatar-->
                                <!--begin::Edit-->
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                       data-kt-image-input-action="change" data-bs-toggle="tooltip" title=""
                                       data-bs-original-title="Resim Yükle">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <!--begin::Inputs-->
                                    <input type="file" asp-for="NewImage" accept=".png, .jpg, .jpeg">
                                    <input type="hidden" name="avatar_remove">
                                    <span asp-validation-for="NewImage.Length" class="text-danger"></span>
                                    <span asp-validation-for="NewImage.ContentType" class="text-danger"></span>
                                    <!--end::Inputs-->
                                </label>
                                <!--end::Edit-->
                                <!--begin::Cancel-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                      data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title=""
                                      data-bs-original-title="Cancel avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Cancel-->
                                <!--begin::Remove-->
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                      data-kt-image-input-action="remove" data-bs-toggle="tooltip" title=""
                                      data-bs-original-title="Fotoğrafı kaldır">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <!--end::Remove-->
                            </div>
                            <!--end::Image input-->
                        </div>
                        <!--end::Image input wrapper-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <!--begin::Label-->
                        <div class="d-flex align-items-center">
                            <label asp-for="FirstName" class="fs-6 fw-bold form-label mt-3">
                            </label>
                            <span class="required"></span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Adınızı giriniz."
                               aria-label="Adınızı giriniz."></i>
                        </div>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" class="form-control form-control-solid bg-light text-dark" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <div class="d-flex align-items-center">
                            <label asp-for="LastName" class="fs-6 fw-bold form-label mt-3">
                            </label>
                            <span class="required"></span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Soyadınızı giriniz."
                               aria-label="Soyadınızı giriniz."></i>
                        </div>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" class="form-control form-control-solid bg-light text-dark" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <!--end::Input-->
                    </div>
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label asp-for="Gender" class="fs-6 fw-bold form-label mt-3">
                        </label>
                         <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Öğrencinin cinsiyetini giriniz."
                               aria-label="Öğrencinin cinsiyetini giriniz."></i>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select class="form-select form-select-solid lh-1 py-3 form-control-solid bg-light text-dark" asp-for="Gender">
                            <option value="@false">@SharedLocalizer["Woman"]</option>
                            <option value="@true">@SharedLocalizer["Man"]</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        <!--end::Input-->
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <!--begin::Label-->
                        <div class="d-flex align-items-center">
                            <label asp-for="DateOfBirth" class="fs-6 fw-bold form-label mt-3">
                            </label>
                            <span class="required"></span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Doğum tarihinizi giriniz."
                               aria-label="Doğum tarihinizi giriniz."></i>
                        </div>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="date" class="form-control form-control-solid bg-light text-dark" asp-for="DateOfBirth">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->                  
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        @*<div class="d-flex align-items-center">
                            <label asp-for="CityId" class="fs-6 fw-bold form-label mt-3"></label>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="@SharedLocalizer["Select_City"]"
                               aria-label="@SharedLocalizer["Select_City"]"></i>
                        </div>*@
                        <!--end::Label-->
                        <label asp-for="CityId" class="fs-6 fw-bold form-label mt-3">
                            @SharedLocalizer["City"]
                        </label>
                        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title=""
                               data-bs-original-title="Öğrencinin doğduğu şehri giriniz."
                               aria-label="Öğrencinin doğduğu şehri giriniz."></i>
                        <select asp-for="CityId" asp-items="Model.CityList" class="form-select form-select-solid lh-1 py-3 form-control-solid bg-light text-dark">
                            <option value="@Guid.Empty">@SharedLocalizer["Select_City"]</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>

                    <!--end::Input group-->
                    <!--begin::Separator-->
                    <div class="separator mb-6"></div>
                    <!--end::Separator-->
                    <!--begin::Action buttons-->
                    <div class="d-flex justify-content-end">
                        <!--begin::Button-->
                        <button type="reset" data-kt-contacts-type="cancel"
                                class="btn btn-danger me-3">
                            @SharedLocalizer["Cancel"]
                        </button>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <button type="submit" data-kt-contacts-type="submit" class="btn btn-dark">
                            <span class="indicator-label">@SharedLocalizer["Save"]</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Action buttons-->
                    <div></div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Content Bitiş-->
    </div>
</div>