@model AdminTalentAddVM
<div class="modal fade" id="kt_modal_add_talent" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_talent_header">
                <!--begin::Modal title-->
                <h5 class="fw-bolder">@ViewLocalizer["Add_Talent"]</h5>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-talent-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-1 mx-xl-1 my-7">
                <form asp-action="AddTalent" id="kt_modal_add_talent_form" class="form">
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_talent_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_talent_header" data-kt-scroll-wrappers="#kt_modal_add_talent_scroll" data-kt-scroll-offset="300px">
                        <div class="fv-row form-floating mb-7">
                            <!--begin::Input-->
                            <input asp-for="Name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@ViewLocalizer["Talent_Name"]" />
                            <!--end::Input-->
                            <!--begin::Label-->
                            <label asp-for="Name" class="required fw-bold fs-6 mb-2 text-muted"></label>
                            <!--end::Label-->
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <!--begin::Hint-->
                            <div class="form-text">@ViewLocalizer["Talent_Description"]</div>
                            <!--end::Hint-->
                        </div>
                    </div>
                    <!--begin::Actions-->
                    <div class="text-end pt-15">
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                            <span class="indicator-label">@SharedLocalizer["Save"]</span>
                            <span class="indicator-progress">
                                @SharedLocalizer["Please_Wait"]
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - Add task-->
</div>