@model AdminClassroomAddTrainerVM

@{
    ViewData["Title"] = ViewLocalizer["Add_Trainer"];
}

<section class="section dashboard d-flex justify-content-center align-items-center">
    <div class="card card-docs flex-row-fluid mb-2" id="kt_docs_content_card">
        <div class="card-header pt-7" id="kt_chat_contacts_header">
            <div class="card-title">
                <h3 class="text-center" style="font-size:25px;font-weight:bold">@ViewLocalizer["Add_Trainer"]</h3>
            </div>
        </div>
        <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">
            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" asp-action="AddTrainer" method="post">
                <input type="hidden" asp-for="ClassroomId" />
                <div class="fv-row fv-plugins-icon-container">
                    <label class="fw-bold fs-6 mb-2">@ViewLocalizer["Name_Of_Trainers"]</label>
                    <select class="form-select  form-select-solid" data-control="select2" data-close-on-select="false" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple" asp-for="SelectedTrainersIds">
                        @foreach (var student in Model.Trainers)
                        {
                            <option value="@student.Value" selected="@(Model.AppointedTrainersId.Contains(student.Value) ? "selected" : null)">@student.Text</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedTrainersIds" class="text-danger"></span>
                </div>
                <div class="separator mb-6"></div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-secondary hover-elevate-up">
                        <a class="text-white " asp-controller="Classroom" asp-action="Index">@SharedLocalizer["Back_List"]</a>
                    </button>
                    <button type="submit" class="btn btn-primary hover-elevate-up">
                        <a class="text-white indicator-label">@SharedLocalizer["Update"]</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

