@model AdminClassroomCreateVM

@{
    ViewData["Title"] = ViewLocalizer["Create_Classroom"];
}

<div class="modal fade" id="kt_modal_add_class" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_user_header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder">@SharedLocalizer["Create", SharedLocalizer["Classroom"]]</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form asp-action="Create" id="kt_modal_add_class_form" class="form" enctype="multipart/form-data">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                        <!--begin::Input group-->
                        <div class="row">
                            <div class="col-md-6">
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="Name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@SharedLocalizer["Classroom_Name"]" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="Name" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="OpeningDate" type="date" asp-format="{0:dd/MM/yyyy}" class="form-control form-control-solid mb-3 mb-lg-0" id="OpeningDate" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="OpeningDate" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row form-floating mb-7">
                                    <select asp-for="GroupTypeId" asp-items="@ViewBag.GroupTypeList" class="form-select form-select-sm form-select-solid">
                                        <option value="" disabled selected>@SharedLocalizer["Choose"]</option>
                                    </select>
                                    <!--end::Select-->
                                    <!--begin::Label-->
                                    <label asp-for="GroupTypeId" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <!--begin::Select-->
                                    <span asp-validation-for="GroupTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="fv-row form-floating mb-7">
                                    <select asp-for="BranchId" asp-items="@ViewBag.BranchList" class="form-select form-select-sm form-select-solid">
                                        <option value="" disabled selected>@SharedLocalizer["Choose"]</option>
                                    </select>
                                    <!--end::Select-->
                                    <!--begin::Label-->
                                    <label asp-for="BranchId" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <!--begin::Select-->
                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="ClosedDate" type="date" asp-format="{0:dd/MM/yyyy}" class="form-control form-control-solid mb-3 mb-lg-0" id="ClosedDate" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="ClosedDate" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="ClosedDate" class="text-danger"></span>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                        <label asp-for="ProductIds" class="required fw-bold fs-6 mb-2"></label>
                                        <span asp-validation-for="ProductIds" class="text-danger"></span>
                                    <select class="form-select form-select-solid" id="ProductsIds2" data-control="select2" data-close-on-select="false" data-placeholder="@SharedLocalizer["Choose_Product"]" data-allow-clear="true" multiple="multiple" asp-items="@ViewBag.ProductList" asp-for="ProductIds">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Scroll-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-secondary me-3" data-kt-users-modal-action="cancel">@SharedLocalizer["Back_List"]</button>
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                            <span class="indicator-label">@SharedLocalizer["Save"]</span>
                            <span class="indicator-progress">
                                @SharedLocalizer["Please_Wait"]
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>

@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/jquery.min.js"></script> *@


@* <script>
    $(document).ready(function () {
        $("#DateTimeProperty2").change(function () {
            var dateTime1 = new Date($("#DateTimeProperty1").val());
            var dateTime2 = new Date($(this).val());

            if (dateTime1.getTime() === dateTime2.getTime()) {
                alert("Açılış tarihi ile Kapanış tarihi aynı tarih olamaz...");
                $(this).val("");
            }
            else if (dateTime1.getTime() > dateTime2.getTime()) {
                alert("Açılış tarihi ile Kapanış tarihinden ileri bir tarih olamaz.");
                $(this).val("");
            }
        });
    });
</script>
 *@