@model StudentStudentExamStartVM

@{
    ViewData["Title"] = SharedLocalizer["Exam"];
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <main>
        <div class="container position-absolute top-50 start-50 translate-middle">
            <input asp-for="StudentExamId" hidden />
            @{
                var examDateTime = ViewBag.ExamDateTime as DateTime?;
            }

            @if (ViewBag.ErrorMessage == null)
            {
                <div class="row">
                    <div class="container mx-auto font-weight-bold text-center text-primary">
                        <h3>Hoşgeldin @Model.StudentFullName, sınavı başlatmak için lütfen butona tıklayınız !</h3>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-3 p-2" style="font-weight: bold; color: #414b59;">
                        <label asp-for="ExamName"></label>
                    </div>
                    <div class="col-9 p-2">
                        <input class="col-12" asp-for="ExamName" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 p-2" style="font-weight: bold; color: #414b59;">
                        <label asp-for="ExamDateTime"></label>
                    </div>
                    <div class="col-9 p-2">
                        <input class="col-12" asp-for="ExamDateTime" type="datetime-local" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 p-2" style="font-weight: bold; color: #414b59;">
                        <label asp-for="ExamDuration">@SharedLocalizer["Exam_Duration"]</label>
                    </div>
                    <div class="col-9 p-2">
                        <input class="col-12" asp-for="ExamDuration" type="time" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 p-2" style="font-weight: bold; color: #414b59;">
                        <label asp-for="QuestionCount"></label>
                    </div>
                    <div class="col-9 p-2">
                        <input class="col-12" asp-for="QuestionCount" type="number" disabled />
                    </div>
                </div>
                <div class="row">
                    <form class="col p-2  float-end" method="post">
                        <button asp-route-studentExamId="@Model.StudentExamId" class="btn btn-primary float-end">@ViewLocalizer["Start_Exam"]</button>
                    </form>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 text-center" style="font-weight: bold; color: #414b59;">
                        <span>@SharedLocalizer[ViewBag.ErrorMessage]</span>
                    </div>
                </div>

                <br />
                <br />
                <br />

                <div class="row">
                    <div class="col-12 text-center" style="font-weight: bold; color: #414b59;">
                        <span>@SharedLocalizer["Exam_Date_Time"] : @examDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</span>
                    </div>
                    <br>
                    <br>
                    <div class="col-12 text-center" style="font-weight: bold; color: #414b59;" id="remainingTime"></div>
                </div>
            }
        </div>
    </main>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        var examDateTime = new Date('@examDateTime.Value.ToString("yyyy-MM-dd HH:mm")');

        function updateRemainingTime() {
            var currentTime = new Date();
            var timeDifference = examDateTime - currentTime;

            var transitionTimeMessage = "";

            if (timeDifference <= 0) {
                document.getElementById("remainingTime").innerHTML = transitionTimeMessage;
                window.location.href = '@Url.Action("StartExam", "Exam")';
                return;
            }

            var hours = '<span style="font-weight: bold; color: #e6353b;">' + Math.floor(timeDifference / (1000 * 60 * 60)) + '</span>';
            var minutes = '<span style="font-weight: bold; color: #e6353b;">' + Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60)) + '</span>';
            var seconds = '<span style="font-weight: bold; color: #e6353b;">' + Math.floor((timeDifference % (1000 * 60)) / 1000) + '</span>';


            var remainingTimeMessage = '<span class="bold-black">' +
                '@SharedLocalizer["Remaining_Time_For_The_Exam_To_Start"]' +
                '</span> : ';

            var hoursText = '<span style="font-weight: bold; color: #e6353b;"> saat, </span>';
            var minutesText = '<span style="font-weight: bold; color: #e6353b;"> dakika, </span>';
            var secondsText = '<span style="font-weight: bold; color: #e6353b;"> saniye</span>';

            if (hours > 0) {
                remainingTimeMessage += hours + hoursText;
            }
            remainingTimeMessage += minutes + minutesText + seconds + secondsText;
            document.getElementById("remainingTime").innerHTML = remainingTimeMessage;
        }

        setInterval(updateRemainingTime, 1000);

        updateRemainingTime();
    </script>
</body>
</html>