@model AdminGroupTypeUpdateVM

@{
    ViewData["Title"] = ViewLocalizer["Grouptype_Update"];
}

<div class="modal fade" id="updateSubjectModal" tabindex="-1" aria-labelledby="updateSubjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form asp-controller="GroupType" asp-action="Update" method="post" id="updateSubjectForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateSubjectModalLabel">@ViewLocalizer["Grouptype_Update"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="Id" type="hidden" />
                    <div class="row mb-3">
                        <div class="form-floating">
                            <input asp-for="Name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@SharedLocalizer["First_Name"]" />
                            <label asp-for="Name" class="required fw-bold fs-6 mb-2 text-muted"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-floating">
                            <textarea asp-for="Information" maxlength="500" style="width:100%; height:150px;" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@SharedLocalizer["Information"]"></textarea>
                            <label asp-for="Information" class="required fw-bold fs-6 mb-2 text-muted"></label>
                            <span asp-validation-for="Information" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center pb-5">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light me-3">@SharedLocalizer["Back_List"]</button>
                    <button class="btn btn-primary" type="submit">
                        <span class="indicator-label">@SharedLocalizer["Save"]</span>
                        <span class="indicator-progress">
                            @SharedLocalizer["Please_Wait"]
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>