@model CandidateAdminCandidateCreateVM
@{
    ViewData["Title"] = @ViewLocalizer["Create_New"];
}

<div class="modal fade" id="kt_modal_add_user" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-1000px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_user_header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder">@SharedLocalizer["Create", SharedLocalizer["Candidate"]]</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <form asp-action="Create" id="kt_modal_add_user_form" class="form" enctype="multipart/form-data">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                        <!--begin::Input group-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="fv-row mb-7">
                                    <!--begin::Label-->
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        @SharedLocalizer["Profile_Image"]
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/images/blank-profile-picture.png')">
                                        <!--begin::Preview existing avatar-->
                                        <div class="image-input-wrapper w-125px h-125px" style="background-image: url(/images/blank-profile-picture.png);"></div>
                                        <!--end::Preview existing avatar-->
                                        <!--begin::Label-->
                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="@SharedLocalizer["Upload_Profile_Picture"]">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <!--begin::Inputs-->
                                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Label-->
                                        <!--begin::Cancel-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Cancel-->
                                        <!--begin::Remove-->
                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="@SharedLocalizer["Remove_Profile_Picture"]">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Remove-->
                                    </div>
                                    <div class="form-text">@SharedLocalizer["Allowed_File_Types"]</div>

                                    <!--end::Image input-->
                                    <!--begin::Hint-->
                                    <!--end::Hint-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <br />

                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="FirstName" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@SharedLocalizer["First_Name"]" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="FirstName" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="LastName" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="@SharedLocalizer["Last_Name"]" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="LastName" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!--begin::Input group-->
                                <div class="row mb-7">
                                    <div class="fv-row mb-7">
                                        <!--begin::Label-->
                                        <label asp-for="Gender" class="required fw-bold fs-6 mb-5"></label>
                                        <!--end::Label-->
                                    </div>
                                    <div class="row mb-7">
                                        <div class="col">
                                            <!--begin::Genders-->
                                            <!--begin::Input row-->
                                            <div class="d-flex fv-row">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid">
                                                    <!--begin::Input-->
                                                    <input asp-for="Gender" class="form-check-input me-3" type="radio" value="true" id="kt_modal_update_role_option_0" checked='checked' />
                                                    <!--end::Input-->
                                                    <!--begin::Label-->
                                                    <label class="form-check-label" for="kt_modal_update_role_option_0">
                                                        <div class="fw-bolder text-gray-800">@SharedLocalizer["Man"]</div>
                                                    </label>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                            <!--end::Input row-->
                                        </div>
                                        <div class="col">
                                            <!--begin::Input row-->
                                            <div class="d-flex fv-row">
                                                <!--begin::Radio-->
                                                <div class="form-check form-check-custom form-check-solid">
                                                    <!--begin::Input-->
                                                    <input asp-for="Gender" class="form-check-input me-3" type="radio" value="false" id="kt_modal_update_role_option_1" />
                                                    <!--end::Input-->
                                                    <!--begin::Label-->
                                                    <label class="form-check-label" for="kt_modal_update_role_option_1">
                                                        <div class="fw-bolder text-gray-800">@SharedLocalizer["Woman"]</div>
                                                    </label>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Radio-->
                                            </div>
                                            <!--end::Input row-->
                                            <!--end::Genders-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Input group-->
                                <div class="fv-row form-floating mb-7">
                                    <!--begin::Input-->
                                    <input asp-for="DateOfBirth" type="date" asp-format="{0:dd/MM/yyyy}" class="form-control form-control-solid mb-3 mb-lg-0" id="DateOfBirth" />
                                    <!--end::Input-->
                                    <!--begin::Label-->
                                    <label asp-for="DateOfBirth" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                               @*  <div class="fv-row form-floating mb-7">
                                    <select asp-for="GroupId" asp-items="ViewBag.Cities" class="form-select form-select-sm form-select-solid">
                                        <option value="" disabled selected>@SharedLocalizer["Choose"]</option>
                                    </select>
                                    <!--end::Select-->
                                    <!--begin::Label-->
                                    <label asp-for="GroupId" class="required fw-bold fs-6 mb-2"></label>
                                    <!--end::Label-->
                                    <!--begin::Select-->
                                    <span asp-validation-for="GroupId" class="text-danger"></span>
                                </div> *@

                                <div class="fv-row form-floating mb-7">
                                    <input asp-for="Email" type="email" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="ad.soyad@bilgeadam.com" />
                                    <label asp-for="Email" class="required fw-bold fs-6 mb-2"></label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end::Scroll-->
                    <!--begin::Actions-->
                    <div class="text-center pt-15">
                        <button type="reset" class="btn btn-secondary me-3" data-kt-users-modal-action="cancel">@SharedLocalizer["Back_List"]</button>
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                            <span class="indicator-label">@SharedLocalizer["Save"]</span>
                            <span class="indicator-progress">
                                @SharedLocalizer["Please_Wait"]
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->
@section Scripts {
    <script>
        var validationMessage = "@SharedLocalizer["Picture_Format_Error"]";
    </script>
}


